name: test-javascript

on:
  pull_request:
    branches:
      - main
  workflow_call:
  push:
    branches:
      - main
      - renovate/**

jobs:
  test-javascript:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        # 14.x fails webpack
        # 17.x fails tpo install tree-sitter
        node-version: ['16']
        include:
          - os: macos-latest
            node-version: '16'

    steps:
    - name: set git core.autocrlf to 'input'
      run: git config --global core.autocrlf input
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: package-lock.json
    - run: npm install-test
    - run: npm run webpack
      env:
        # https://github.com/webpack/webpack/issues/14532
        NODE_OPTIONS: "${{ startsWith(matrix.node-version, '17') && '--openssl-legacy-provider' || '' }}"
    - run: npm run eslint
